<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Board</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<!-- header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- content -->
<div class="content container px-3 py-4">
    <section layout:fragment="content"></section>
</div>
<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>