<footer th:fragment="footer" class="alert alert-secondary px-5 m-0 d-flex flex-column align-items-center">
    <p> App developed by Carlos Quintana</p>
    <ul class="d-flex m-0 p-0">
        <li><a href="https://github.com/carlos-quintana" rel="noreferrer" target="_blank"
               class="mx-3">
            Github</a></li>
        <li><a href="https://www.linkedin.com/in/carlos-quintana-dev/" rel="noreferrer" target="_blank"
               class="mx-3">
            LinkedIn</a></li>
        <li><a href="https://carlos-quintana.github.io/" rel="noreferrer" target="_blank"
               class="mx-3">
            Online portfolio</a></li>
    </ul>
</footer>