body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.content {
    flex-grow:1;
}

a {
    text-decoration: none;
}

.hero-img {
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    aspect-ratio: 4/3;
    filter: contrast(1) brightness(1.25);
}

.td-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px #0004;
}

.td-description {
    width:100%;
    overflow: hidden;
}

.td-tags {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media(max-width:1000px) {
    .submission-display {
        flex-wrap:wrap;
    }
}
.submission-title {
    flex-grow:1
}

.submission-img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 1rem;
}

.submission-details {
    flex-grow: 1;
    background: #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.tags-container > ul {
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer > ul {
    list-style:none;
}