<!doctype html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<body layout:fragment="content">
<h1>Image Board website</h1>
<h3>A Spring Boot application made by Carlos Quintana</h3>
<div class="mt-5">
    <p>
        <a class="btn btn-primary" href="https://github.com/carlos-quintana/spring-boot-crud#-image-board" rel="noreferrer"
           target="_blank">
            GitHub repo</a>
        Find some instructions and more information about the project over on the project's repo.
    </p>
    <p>
        <a class="btn btn-secondary" href="/submissions">
            Listings</a>
        Begin browsing the submissions.
    </p>
</div>
</body>
